<div class="container mt-4">
  <h2>Lista de Videojuegos</h2>

  <table class="table table-striped mt-3">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Género</th>
        <th>Precio</th>
        <th>Imagen</th>
        <th>Acción</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let game of games">
        <td>{{ game._id }}</td>
        <td>{{ game.nombre }}</td>
        <td>{{ game.genero }}</td>
        <td>${{ game.precio }}</td>
        <td>{{ game.imagenUrl }}</td>
        <td>
          <button 
            class="btn btn-danger btn-sm"
            (click)="deleteGame(game._id)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
